@media only screen and (max-width: 376px) {
  main .promotions-container .text-container {
    padding-left: 0;
    max-width: 136px;
  }
  main .promotions-container .promotions-inner-container h2 {
    font-size: 14px;
    margin-bottom: 0;
  }
  main .promotions-container .promotions-inner-container p {
    font-size: 10px;
  }
  main .promotions-container .title {
    margin-top: 0rem!important;
    margin-bottom: 1rem!important;
  }
  .banner-wrapper h1 {
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .banner-wrapper {
    background-position: 65% center !important;
  }
  section.hero-container .hero-text-container {
    padding-top: 2rem;
  }
  section.hero-container p.sub-title {
    display: none;
  }
  .account-profile .tab-content {
    padding: 1.5rem 1rem;
  }
  #navbarSupportedContent {
    width: 70%;
  }
  section.hero-container {
    height: 84vw;
  }
  header .main-menu svg {
    width: 58px;
  }
  .thumbnail-container {
    flex: 0 0 calc(49% - 11px);
  }
}